Repository jeffabailey/learn: changes, and which Codecov flags are due for each by the changed paths.
All: python-learning, django-python, django-javascript, localrag

codecov.yml:

codecov:
  require_ci_to_pass: yes
  notify:
    wait_for_ci: yes

coverage:
  precision: 2
  round: down
  range: "70...100"
  status:
    project:
      default:
        target: auto
        threshold: 1%
        base: auto
    patch:
      default:
        target: 80%
        threshold: 5%

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,tree,footer"
  behavior: default
  require_changes: no
  require_base: no
  require_head: yes

flags:
  python-learning:
    paths:
      - programming/python/
    carryforward: true

  django-python:
    paths:
      - frameworks/htmx/django-htmx-alpine/
    carryforward: true

  django-javascript:
    paths:
      - frameworks/htmx/django-htmx-alpine/
    carryforward: true

  localrag:
    paths:
      - machine-learning/localrag/
    carryforward: true

ignore:
  - "**/*test*.py"
  - "**/*tests.py"
  - "**/test_*.py"
  - "**/migrations/"
  - "**/node_modules/"
  - "**/jest/"
  - "**/cypress/"
  - "**/*.config.js"
  - "**/manage.py"

Fix LocalRAG test failures with proper mocking
  frameworks/htmx/django-htmx-alpine/package-lock.json
  machine-learning/localrag/test_integration.py
Due: django-python, django-javascript

Add coverage files to .gitignore
  machine-learning/localrag/.gitignore
  programming/python/.gitignore
Due: python-learning, localrag

Fix build error: Remove infinite symlink loop in jest directory
  frameworks/htmx/django-htmx-alpine/jest/@
  frameworks/htmx/django-htmx-alpine/jest/navbar-main.unit.test.js
  frameworks/htmx/django-htmx-alpine/jest/status-message.unit.test.js
  frameworks/htmx/django-htmx-alpine/jest/tasks.unit.test.js
Due: django-python, django-javascript

Fix Python packaging error: Configure project as non-package
  programming/python/pyproject.toml
Due: python-learning

Fix LocalRAG workflow: Skip heavy ML dependencies in CI
  .github/workflows/quick-test.yml
  .github/workflows/test-coverage.yml
Due: none

Fix Django Poetry configuration and regenerate lock file
  frameworks/htmx/django-htmx-alpine/poetry.lock
  frameworks/htmx/django-htmx-alpine/pyproject.toml
Due: django-python, django-javascript

Fix Pillow build error: Update to version 10.4.0
  frameworks/htmx/django-htmx-alpine/poetry.lock
  frameworks/htmx/django-htmx-alpine/pyproject.toml
Due: django-python, django-javascript

Fix test: Update assertion for HTMX authentication behavior
  frameworks/htmx/django-htmx-alpine/tasks/tests.py
Due: none

Add coverage files to root .gitignore
  .gitignore
Due: none

Fix Jest coverage: Exclude third-party libraries and coverage reports
  frameworks/htmx/django-htmx-alpine/package.json
Due: django-python, django-javascript

Add Jest coverage directory to .gitignore
  frameworks/htmx/django-htmx-alpine/.gitignore
Due: django-python, django-javascript

Update .github/workflows/quick-test.yml
  .github/workflows/quick-test.yml
Due: none

Fix LocalRAG test: Remove unnecessary numpy import
  machine-learning/localrag/test_integration.py
Due: none

Migrate from Poetry to uv for Python package management
  .github/TESTING.md
  .github/workflows/test-coverage.yml
  frameworks/htmx/django-htmx-alpine/README.md
  frameworks/htmx/django-htmx-alpine/poetry.lock
  frameworks/htmx/django-htmx-alpine/pyproject.toml
  frameworks/htmx/django-htmx-alpine/uv.lock
Due: django-python, django-javascript

Fix Django compatibility: Replace deprecated ugettext_lazy with gettext_lazy
  frameworks/htmx/django-htmx-alpine/tasks/views.py
  frameworks/htmx/django-htmx-alpine/users/views.py
Due: django-python, django-javascript

Fix logout tests: Use POST instead of GET requests
  frameworks/htmx/django-htmx-alpine/users/tests.py
Due: none

Add comprehensive LLM instruction file for educational project
  .clinerules
Due: none

Update programming/python to follow .clinerules educational standards
  programming/python/README.md
  programming/python/arrays.py
  programming/python/classes_and_objects.py
  programming/python/comments.py
  programming/python/control_structures.py
  programming/python/exception_handling.py
  programming/python/functions.py
  programming/python/lambdas.py
  programming/python/operators.py
  programming/python/variables.py
Due: python-learning

If a git tree falls in a forest and no one is around to hear it, does it make a sound?
  .gitmodules
  tools/ai-software-development-tools/ai-software-tool-usage-report/.env.example
  tools/ai-software-development-tools/ai-software-tool-usage-report/.gitignore
  tools/ai-software-development-tools/ai-software-tool-usage-report/README.md
  tools/ai-software-development-tools/ai-software-tool-usage-report/index.py
  tools/ai-software-development-tools/ai-software-tool-usage-report/pyproject.toml
  tools/ai-software-development-tools/ai-software-tool-usage-report/uv.lock
  tools/ai-software-development-tools/ai-software-tool-usage-report/vendors/__init__.py
  tools/ai-software-development-tools/ai-software-tool-usage-report/vendors/anthropic.py
  tools/ai-software-development-tools/ai-software-tool-usage-report/vendors/aws_kiro.py
  tools/ai-software-development-tools/ai-software-tool-usage-report/vendors/base.py
  tools/ai-software-development-tools/ai-software-tool-usage-report/vendors/cursor.py
  tools/ai-software-development-tools/ai-software-tool-usage-report/vendors/gemini.py
  tools/ai-software-development-tools/ai-software-tool-usage-report/vendors/github_copilot.py
  tools/ai-software-development-tools/ai-software-tool-usage-report/vendors/openai_admin.py
  tools/goose/mcp_notes/.python-version
  tools/goose/mcp_notes/README.md
  tools/goose/mcp_notes/pyproject.toml
  tools/goose/mcp_notes/src/mcp_notes/__init__.py
  tools/goose/mcp_notes/src/mcp_notes/py.typed
  tools/goose/mcp_notes/uv.lock
Due: none

If a git tree falls in a forest and no one is around to hear it, does it make a sound?
  tools/ai-software-development-tools/ai-software-tool-usage-report/.env.example
  tools/ai-software-development-tools/ai-software-tool-usage-report/README.md
  tools/ai-software-development-tools/ai-software-tool-usage-report/index.py
  tools/ai-software-development-tools/ai-software-tool-usage-report/pyproject.toml
  tools/ai-software-development-tools/ai-software-tool-usage-report/tests/__init__.py
  tools/ai-software-development-tools/ai-software-tool-usage-report/tests/conftest.py
  tools/ai-software-development-tools/ai-software-tool-usage-report/tests/test_anthropic.py
  tools/ai-software-development-tools/ai-software-tool-usage-report/tests/test_index.py
  tools/ai-software-development-tools/ai-software-tool-usage-report/uv.lock
  tools/ai-software-development-tools/ai-software-tool-usage-report/vendors/anthropic.py
  tools/ai-software-development-tools/ai-software-tool-usage-report/vendors/gemini.py
  tools/ai-software-development-tools/ai-software-tool-usage-report/vendors/openai_admin.py
Due: none

If a git tree falls in a forest and no one is around to hear it, does it make a sound?
  ai-agents/a2a/README.md
  ai-agents/a2a/python/.python-version
  ai-agents/a2a/python/client.py
  ai-agents/a2a/python/pyproject.toml
  ai-agents/a2a/python/run-demo.sh
  ai-agents/a2a/python/summarizer_agent.py
  ai-agents/mcp/README.md
  ai-agents/mcp/python/.python-version
  ai-agents/mcp/python/client.py
  ai-agents/mcp/python/pyproject.toml
  ai-agents/mcp/python/run-demo.sh
  ai-agents/mcp/python/server.py
  ai-agents/mcp/python/tests/__init__.py
  ai-agents/mcp/python/tests/test_server.py
  software/ontology/README.md
  software/ontology/ontology.md
  software/ontology/ontology.yaml
  tools/ai-software-development-tools/ai-software-tool-usage-report/CONTRIBUTING.md
  tools/ai-software-development-tools/ai-software-tool-usage-report/README.md
Due: none

If a git tree falls in a forest and no one is around to hear it, does it make a sound?
  software/ontology/README.md
  software/ontology/ontology.archimate
  software/ontology/ontology.ttl
Due: none

If a git tree falls in a forest and no one is around to hear it, does it make a sound?
  databases/knowledge-graphs/knowledge_graph.py
  databases/knowledge-graphs/test_knowledge_graph.py
Due: none
